@{
  Layout = "_Layout";
}
@using MusicOrganizer.Models;

<h1>Artists</h1>

@if (@Model.Count == 0)
{
  <h3>No Artists have been added yet!</h3>
} 

@foreach (Artist artist in Model)
{
  <h3><a href='/artists/@artist.Id'>@artist.ArtistName</a></h3>
}

<form action="/artist/search" method="get">
  <input id="searchName" name="searchName" type="text">
  <label for="searchName">Search By Artist:</label>
  <button type='submit'>Search</button>
</form>

<p><a href='/'>Back home</a></p>